body {
  background:#999;
  font-family: arial;
}

h1, h2 {
  color:#555;
}

li {
  color:blue;
}

p {
  background: green;
  color: white;
  padding:5px 0px;
}

.secondary {
  background:none;
}

#special {
  background:purple;
}
